*{
    box-sizing: border-box;
}

body{
    margin: 0;
    position: relative;
    
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    align-items: center;
    justify-content: center;

}

.mobile-container{
    width: 25rem;
    background-color: #fff;
    box-shadow: 0 0 10px 2px #3333331a;
    overflow: hidden;
}

img{
    max-width: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header input{
    border: 1px solid transparent;
    background-color: #eee;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    font-family: monospace;
    color: #797979;
    transition: all 0.3s ease-in-out;
}
header input:focus{
    outline: none;
    border: 1px solid #797979;
}

header button{
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 1.5rem;
    margin-left: 0.8rem;
}
header button:hover{
    cursor: pointer;
}
header button:active{
    transform: scale(0.95);
}
.fav-meals::-webkit-scrollbar,.related-recipe::-webkit-scrollbar{
    position: absolute;
    height: 25px;
}
.fav-meals::-webkit-scrollbar-track,.related-recipe::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.fav-meals::-webkit-scrollbar-thumb,.related-recipe::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
}

.fav-container{

    padding: 1rem 1rem  0 1rem;
    text-align: center;
    background-color: rgb(238, 218, 252);
}

.fav-meals{
    display: flex;
    list-style: none;
    padding: 0;
    padding-bottom: 10px;
    overflow-x: auto;
    min-height: 140px;
    max-height: 150px;
    overflow-y: hidden;
}

.fav-meals li{
    margin-right: 1rem;
    position: relative;
    max-width: 75px;
   
}

#fav-meals .deletefrom-favourite{
    position: absolute;
    font-size: 1.45rem;
    color: green;
    cursor: pointer;
    
    top: -3px;
    right: -15px;
}

.fav-meals li img{
    width: 75px;
    height: 75px;
    min-width: 75px;
    min-height: 75px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px 2px #3333331a;
    border: 3px solid #fff;
    cursor: pointer;
}
.fav-meals li span{
    font-size: 0.8rem;
}

.meal{
    border-radius: 3px;
    margin: 1.5rem;
    box-shadow: 0 0 10px 2px #3333331a;

}
.meal-header{
    position: relative;
}
.meal-header .random{
    position: absolute;
    top: 2rem;
    background-color: #fff;
    padding: 0.25rem 0.5rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 1.25rem;
}
.meal-header img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    cursor: pointer;
}

.meal-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    font-size: 1.25rem;
}
.meal-body button{
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.25rem;
}

.meal-body button.active i{
   color: tomato;
}

.meal-body button i{
    color: #adadad;
}

.dontfind{
    padding: 1.57rem;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    color: #797979;
}
.reload{
    width: 100%;
    text-align: center;
}
.reloadBtn{
    width: 300px;
    height: 60px;
    background: none;
    border: 8px solid;
    color: #31f700;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

.reloadBtn::before,.reloadBtn::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 8px;
    background: #fff;
    transform: skewX(50deg);
    transition: .4s linear;
}

.reloadBtn::before{
    top: -8px;
    left: 10%;
}

.reloadBtn::after{
    bottom: -8px;
    right: 10%;
}

.reloadBtn:hover::before{
    left: 80%;
}

.reloadBtn:hover::after{
    right: 80%;
}


.idmeal-related-recipe{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
    
    
    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: rgba(145, 192, 145,0.2);
    backdrop-filter: blur(2px);
    
}
.related-recipe{
    position: relative;
    width: 25rem;
    height: 100vh;
    overflow: auto;
    background-color: #fff;
    padding: 1.2rem;
    margin-top: 1rem;
    box-shadow: 0 0 10px 2px #33333366;
    
}

.recipe-meal{
    padding-bottom: 1.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    color: #797979;
}
.recipe-image{
    box-shadow: 0 0 10px 2px #3333331a;

}
.close-recipe{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    font-size: 1.4rem;
    cursor: pointer;
    color: #797979;
}
.recipe{
    text-align: justify;
    font-family: sans-serif;
    color: #666666;
}

.ingrds-measus li > div{
    display: flex;
    justify-content: space-between;
}

.ingrds-measus li div{
    flex: 1;
}